#content{
	position: absolute;
    bottom: 0px;
	right : 0px;
	left : 0px;
}

#content #left-content {
	position: absolute;
	left : 0px;
    bottom: 400px; /* hauteur a laquelle tu veux mettre WHO DAME IS ME */
	padding-top: 35%;
	display: block;
	float : left;
	width : 35%;
	padding-right : 10px;
}

#content #right-content {
	position: absolute;
    bottom: 5px; /* hauteur a laquelle tu veux mettre le bloc bio*/
	right : 0px;
	padding-top: 35%;
	display: block;
	float : right;
	width : 60%;
	padding-left : 10px;
}

.follow {
	margin : 1em 2em 0.5em 2em;
    align-content: center;
    -webkit-align-content: center;
}

.follow a{
	display: inline-block;
	width : 32%;
}