
@font-face{
font-family:"GeosansLight.ttf";
src:url("Typo/GeosansLight.ttf");
}

@font-face{
font-family:"Avenir.ttc";
src:url("Typo/Avenir.ttc");
}


nav{
    
    font-family: "avenir.ttc";
}

.titrepage{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

#contentworks{
	padding-top:2em;
    background-color:#262324;
    
}

.mainTable{
	width : 66em;
	align: center; 
	border: 0;
	border-spacing: 2em;
    border-collapse: separate;

}

.miniature{
	border: 0;
	height: 20em;
	width: 15em; 
	margin: 0;
	padding: 0;
}

