@font-face{
font-family:"GeosansLight.ttf";
src:url("../Typo/GeosansLight.ttf");
}

@font-face{
font-family:"Avenir.ttc";
src:url("../Typo/Avenir.tff");
}

	
#pagination{
	background-color: #888888;
	color: #ffffff;
}
	#pagination div a{
		color: #fefefe;
		text-decoration: none;
	}
.library{
	display : inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	width : 40%;
	padding-left : 20%;
}
.prev{
	display : inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	width : 15%;
}

.next{
	display : inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	width : 15%;
}

#content{
	display : block;
	padding-top: 2em;
	width : 70%;
	margin : auto;
}

#main-content{
	display: inline-block;
	width : 65%;
}

.video{
	width : 90%;
	height : auto;
	margin : auto;
	display : block;
	padding-bottom : 2em;
}

#screenshot{
	border-top: 1px solid rgb(214, 214, 214);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}

#screenshot h1{
	font-family:  "Avenir.ttf";
	font-weight: bold;
text-transform: uppercase;
}


#messaging{	
    width: 30%;
    float: right;
	font-family: "Geosanslight.ttf";
}

.mainTitle .altTitle{
	display: block;
	font-family: "Avenir.ttf";
	font-weight: bold;
	text-transform: uppercase;
}
.altTitle{
    
color: rgb(128, 128, 128);
}

#description, #tools{
    border-top: 1px solid rgb(214, 214, 214);
    margin-bottom: 1.5em;
    padding-top: 1.5em;
	
	text-align:justify;
    color:#262324;
	
}

.mainTable{
	border-spacing: 2em;
    border-collapse: separate;

}

.miniature{
	float : left;
	border: 0;
	max-width: 10em;
	max-width: 15em;
    width: auto;
    height: auto;
	margin: 0;
	padding: 0;
}



