html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* De pour toutes les balises, pas de margins/padding/border, simplifie la vie */


@font-face{
font-family:"GeosansLight.ttf";
src:url("Typo/GeosansLight.ttf");
}

@font-face{
font-family:"Avenir.ttc";
src:url("Typo/Avenir.ttc");
}

.iconfooter{
    height:50px;
    width:50px;
    display:inline-block;
    padding-left:30px; 
}

#banniere{
     font-family: "avenir.ttc";
  padding-top:10px;
}

nav{
    
    font-family: "avenir.ttc";
}

p{
    text-align:justify;
    color:#262324;
    font-family:  "geosanslight.ttf";
}

#content{
    width:60%;
    margin:0 auto;
    
}


#footer{
     width:60%;
    margin:0 auto;
    padding-left:45%;
}


header{
background-color: #444444;
color: #ffffff;
}

	header #banniere{
		margin: 0 auto;
		width: 255px;
		height: 100px;
		text-align: center;
	}

	header nav{
		margin: 0 auto;
		width: 40%;
		height: 3em
	}
	
	.menu li{
		display: inline-block;
		width: 24%;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
	}
	
	.menu li a{
		color: #fefefe;
		text-decoration: none;
		padding-bottom: 1em;
	}

#image-acceuil{
	display: block;
	width: 80%;
	margin-top: 30px;
	margin-bottom : 30px;
	height: 80em;
}

#content{
	width : 80%;
	display : block;
}

#main-content{
	display: inline-block;
	height: 120em;
}

#description{
	width : 30em;
	float : right;
}